:root {
  --color-off-white: hsl(60, 4%, 85%);
  --color-tan: hsl(8, 59%, 70%);
  --page-width: 540px;
  --page-inner-pad: 4rem;
  --input-pad: 1rem;
  --page-border-radius: 4px;
  --output-decor-size: 1.25rem;
  --output-decor-pad: 2.5rem;
}

@font-face {
  font-family: a;
  src: url('fonts/a.ttf') format('truetype');
}

@font-face {
  font-family: b;
  src: url('fonts/b.ttf') format('truetype');
}

body {
  background-color: hsl(10, 19%, 15%);
  background-image: url('/imgs/1024px-Husite_-_Jensky_kodex_bg1.jpg');
  background-size: cover;
  background-position: top 20% left 50%;
}

/* viewport vignette */
body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15rem hsl(10, 19%, 5%, 25%) inset;
}

.page-wrapper {
  width: var(--page-width);
  margin: 0 auto;
}

@media (min-width: 701px) and (max-width: 1600px) {
  .page-wrapper {
    margin-left: 5rem;
  }
}

@media (max-width: 700px) {
  .page-wrapper {
    width: auto;
    margin: 0 2rem;
  }

  header {
    margin-top: 3rem !important;
  }
}

header {
  margin-top: 180px;
  margin-bottom: 44px;
}

header > h1 {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  height: 5.25rem;
  width: 20rem;
}

header > h1 > svg {
  fill: var(--color-off-white);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header > h2 {
  margin: 0;
  padding: 0;
  color: var(--color-tan);
  font-family: a, serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2.25rem;
  font-size: 1.75rem;
}

header > h2 > i > svg {
  fill: var(--color-tan);
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}

header > h2 > i:nth-child(1) > svg {
  padding-left: 0.1rem;
  padding-right: 0.4rem;
}

header > h2 > i:nth-child(2) > svg {
  padding-left: 0.4rem;
}

#inputs-page {
  width: 100%;
  min-height: 400px;
  background-color: hsl(36, 35%, 90%);
  background-image: url('/imgs/old_paper_cc.jpg');
  border-radius: var(--page-border-radius);
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.5);
  padding-top: 1.5rem;

  margin-bottom: 15rem;

  /* clip elements that go off the page */
  overflow-x: hidden;
}

#inputs-page::after {
  content: '';

  /* this is the "mask" box sitting flush with the lower right corner of the
   * inputs-page container */
  /* background-color: hsla(12, 62%, 51%, 50%); */
  float: right;
  width: 7.5rem;
  height: 7.75rem;
  margin-top: -7.75rem;

  /* lower right corner should be rounded to sit flush with container */
  border-radius: 0 0 var(--page-border-radius) 0;

  background-image: url('/imgs/gray_circle.png');
  background-size: 11rem;

  /* remove annoying inner padding inside the image itself */
  background-position-x: -0.8rem;
  background-position-y: -0.8rem;

  mix-blend-mode: color-burn;
  opacity: 25%;
}

.page-lines {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 4px;
  border-left: none;
  border-right: none;
  border-top: 1px solid hsla(44, 10%, 20%, 40%);
  border-bottom: 1px solid hsla(44, 10%, 20%, 30%);
}

.input-wrapper {
  margin-left: var(--page-inner-pad);
  margin-right: var(--page-inner-pad);
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: var(--input-pad);
  padding-right: var(--input-pad);
  border-bottom: 1px solid hsla(44, 10%, 20%, 35%);
}

.input-wrapper:last-of-type {
  border-bottom: none;
}

.input-wrapper > label {
  display: block;
  padding: 0;
  font-family: b, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.03rem;
  color: hsla(276, 5%, 25%, 80%);
}

.input-wrapper > input {
  margin-top: -0.7rem;
  padding: 0;
  border: none;
  background: none;
  font-family: a, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 2.75rem;
  letter-spacing: -0.05rem;
  color: hsla(12, 62%, 51%, 80%);

  transition: color 0.20s ease-in-out;
}

.input-wrapper > input:hover, .input-wrapper > input:focus {
  color: hsla(12, 62%, 40%, 80%);
}

#total-score {
  max-width: 21%;
}

#max-score {
  max-width: 20%;
}

#total-max-sep, #max-score {
  margin-top: -0.7rem;
  font-family: a, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.0rem;
  letter-spacing: -0.05rem;
  color: hsla(276, 5%, 25%, 50%);
}

#max-score:hover, #max-score:focus {
  color: hsla(276, 5%, 10%, 50%);
}

#best-action-submit {
  /* reset styles */
  all: initial;

  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: -0.5rem;
  padding-left: calc(var(--page-inner-pad) + var(--input-pad) + 0.5rem);
  padding-right: calc(var(--page-inner-pad) + var(--input-pad) + 1rem);
  min-height: 3.75rem;

  font-family: a, serif;
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 2.75rem;
  letter-spacing: -0.03rem;
  color: hsl(14, 12%, 74%);

  /* background-color: hsl(195, 19%, 21%); */
  background-image: url('/imgs/decoration_bottom_cc.png');
  background-size: cover;
  background-position-x: right;
  background-position-y: -0.2rem;
  background-repeat: no-repeat;

  /* filter: dropshadow(0 0 0.5rem hsla(0, 0%, 0%, 40%)); */

  /* animate on hover + focus */
  transition: transform 0.20s ease-in-out;
}

#best-action-submit:hover, #best-action-submit:focus {
  transform: translateX(0.5rem);
}

#best-action-submit:active {
  transform: translateX(0rem);
}

#output {
  /* min-height: 8rem; */
  width: calc(var(--page-width) - 2 * (var(--page-inner-pad) + var(--input-pad)));
  margin-top: 2.75rem;
  padding: 0 calc(var(--page-inner-pad) + var(--input-pad));
  
  /* want the text be underneath the page */
  position: absolute;
  z-index: -1;

  /* cool animation to slide output up under the inputs page when searching */
  transition: margin-top 0.35s ease-in-out;
}

#output.searching {
  margin-top: -10rem;
}

#output-wrapper {
  /* space the two text pieces evenly */
  display: flex;
  align-items: center;
}

#output-wrapper-main > i > svg {
  fill: var(--color-tan);
  height: var(--output-decor-size);
  width: var(--output-decor-size);
  padding-top: 0.5rem;
}

#output-wrapper-main > i:nth-of-type(1) > svg {
  margin-left: calc(-1 * var(--output-decor-pad));
}

#output-wrapper-main > i:nth-of-type(2) > svg {
  margin-right: calc(-1 * (var(--output-decor-pad) + var(--output-decor-size)));
  padding-left: var(--output-decor-size);
}

#output-wrapper-err {
  padding-bottom: 2rem;
}

#output-main {
  font-family: b, serif;
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 2.75rem;
  letter-spacing: 0.04rem;
  color: var(--color-tan);
}

#output-dice, #output-err {
  font-family: a, serif;
  font-weight: normal;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: -0.05rem;
  /* width: 100%; */
  /* text-align: right; */
  padding-bottom: 0.2rem;
  color: hsla(12, 60%, 57%, 100%);
}

#output-dice {
  margin-left: 2rem;
}

#output-err {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

#die-kinds-wrapper {
  /* padding: 0 calc(var(--page-inner-pad) + var(--input-pad)); */
  margin-bottom: 2rem;
}

@media (min-width: 1160px) {
  /* float the die kinds help text to the right of the main page */
  #die-kinds-wrapper {
    position: absolute;
    margin-top: -40rem;
    padding-left: calc(var(--page-width) + 2rem);
    z-index: -1;
  }
}

#die-kinds-wrapper > h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: b, serif;
  font-weight: normal;
  font-size: 1.50rem;
  line-height: 2.75rem;
  letter-spacing: 0.04rem;
  color: hsl(10, 19%, 65%);
  /* color: hsl(60, 4%, 65%); */
}

#memnonics-table {
  font-family: a, serif;
  font-weight: normal;
  font-size: 1.0rem;
  line-height: 1.25rem;
  /* letter-spacing: -0.03rem; */
  color: hsl(10, 19%, 55%);
  /* color: hsl(60, 4%, 55%); */
}

#memnonics-table td:nth-of-type(odd) {
  text-align: right;
  padding-right: 0.5rem;
}

#memnonics-table td:nth-of-type(even) {
  padding-right: 1rem;
}

#memnonics-table td:last-of-type {
  padding-right: 0;
}
